html {
    font: 15pt Arial;
}

body {
    background: url("wallpaper-php.jpg") no-repeat top center fixed;
    background-size: cover;
}

div::before {
    content: " Curso de POO em PHP - by Gustavo Guanabara ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -30px;
    left: -30px;
    width: 600px;
}

div {
    background-color: rgba(255, 255, 255, .8);
    margin: 100px auto 100px auto;
    padding: 30px;
    width: 550px;
    min-height: 300px;
    line-height: 25px;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

.botao {
    background-color: #273747;
    color: white;
    padding: 8px;
    -webkit-box-shadow: 2px 2px 1px #aaaaaa;
    box-shadow: 2px 2px 1px #aaaaaa;
}