#n1, #n2{
    width: 200px;
    height: 200;
    border: 1px solid #000;
    float: left;
    margin-right: 10px;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
}
#n1{
    background-color:#eee;
}
button{
    width: 410px;
    height: 40px;
    margin-top: 10px;
    font-size: 20px;
}
.limpar{
    clear: both;
}